@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: #0c0c0e
  }

  .specifications table {
    @apply w-full text-sm text-left text-gray-400 mt-5
  }

  .specifications thead {
    @apply text-xs text-gray-400 uppercase bg-gray-700
  }

  .specifications tr {
    @apply border-b bg-gray-800 border-gray-700
  }

  .specifications th, .specifications td {
    @apply px-6 py-4
  }

  .specifications ul, .specifications ol {
    @apply max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400
  }

  .specifications a {
    @apply font-medium text-blue-600 dark:text-blue-500 hover:underline
  }

  .specifications h1 {
    @apply text-2xl font-bold mt-5
  }
}

@layer components {
  .button {
    @apply px-8 py-4 text-xs uppercase tracking-[.30em] font-semibold transition duration-100
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 66px;
}

.hero {
  background-image: url("/hero.png");
  height: calc(100vh - 66px);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero .container {
  position: relative;
  z-index: 1;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 80%;
  width: 100%;
  background: linear-gradient(0deg, #0c0c0e 0%, #00000000 100%);
}

.store-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.store-grid article {
  overflow: hidden;
}

.store-grid img {
  aspect-ratio: 16/9;
  object-fit: cover;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 200ms;
}

.store-grid article:hover img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  scale: 1.2;
}

.contact-image {
  max-height: 35vh;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.product-page-grid{
  display: grid;
  grid-template-rows: [hero-title-row] auto [description-row] 1.5fr [last-row] 0.25fr;
  grid-template-columns: [first-column] 6fr [end-column] 4fr;
  column-gap: 2rem;
  margin-top: 5vh;
}

.game-grid{
  display: grid;
  grid-template-columns: repeat(6, 0.9fr);
  grid-row: last-row/last-row;
  grid-column: first-column/end-column;
  grid-gap: 10px;
}

.game-grid-container{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  grid-row: last-row/last-row;
}

.fps-text{
  text-align: center;
}
.game-grid-heading{
  text-align: left;
  margin-bottom: 2vh;
}

.store-product-main-image-container {
  grid-row: hero-title-row/hero-title-row;
  max-height: 24rem;
}

.store-product-main-image{
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.store-product-heading-text{
  display: flex;
  flex-direction: column;
  max-height: 40vh;
}

.specifications-container{
  grid-row: description-row/description-row;
  grid-column-start: 1;
  grid-column-end: 3;
}

.mobile-nav{
  display: none;
}
.open-menu{
  display: none;
}
.closed-menu{
  display: none;
}
.menu-container{
  display: none;
}

@media only screen and (max-width: 750px){
  .nav-bar-items{
    display: none;
  }
  .closed-menu{
    display: block;
  }

  .open-menu{
    display: none;
  }

  .menu-container{
    display: block;
  }
}

