@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: hsl(240, 6%, 5%);
  }
}

@layer components {
  .button {
    @apply px-8 py-4 text-xs uppercase tracking-[.30em] font-semibold transition duration-100 hover:scale-110;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 66px;
}

.hero {
  background-image: url("/hero.png");
  height: calc(100vh - 66px);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.store-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.contact-image {
  max-height: 35vh;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.store-item-left {
  min-width: 30%;
}
.store-item-right {
  min-width: 70%;
}
