@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #0c0c0e;
  --color-zinc-900: #18181d;
  --height-navbar: 66px;
  --transition-200: 200ms;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--height-navbar);
}

body {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: var(--color-background);
}

/* Home Page | Hero Section */

.hero {
  background: url('/img/hero/hero-2xl-1536.webp') center / cover no-repeat;
  height: calc(100vh - var(--height-navbar));
  overflow: hidden;
  position: relative;
}

.hero .container {
  position: relative;
  z-index: 1;
}

.gradient {
  position: absolute;
  inset: auto 0 0 0;
  z-index: 0;
  height: 80%;
  background: linear-gradient(
    0deg,
    var(--color-background) 0%,
    transparent 100%
  );
}

/* Home Page | Store Section */

.featured-item-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.featured-image {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  height: 0;
  min-height: 100%;
  width: 100%;
  order: 1;
  object-fit: cover;
  max-height: 16rem;
}

.store-slider .slick-slide {
  margin: 0 1rem !important;
}

.store-slider .slick-list {
  margin: 0 -1rem !important;
}

.store-slider article {
  overflow: hidden;
}

.store-slider .image-container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: var(--transition-200);
}

.store-slider article:hover .image-container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.store-slider img {
  aspect-ratio: 4/3;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: var(--transition-200);
}

.store-slider article:hover img {
  scale: 1.2;
}

/* Home Page | Contact Section */

.contact-links-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Home Page | Partners Section */

.partners-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr auto;
  gap: 2rem;
}

.partners-grid a {
  display: grid;
  gap: 0;
  grid-row: span 2;
  grid-template-rows: subgrid;
}

/* Product Page */

.product-page-grid {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-auto-rows: auto;
  gap: 2rem;
  padding-block: 2rem;
}

/* Product Page | Image Carousel Section */

.image-carousel-container {
  order: -1;
  overflow: hidden;
}

.carousel .thumb {
  aspect-ratio: 1/1 !important;
}

.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.carousel .slide {
  background-color: var(--color-zinc-900);
}

.carousel .slide img {
  max-height: 24rem;
  object-fit: contain;
  width: auto;
}

/* Product Page | Basic Information Section */

.basic-information-container {
  order: 0;
}

/* Product Page | Bundles Section */

.bundles-container {
  grid-column: 1 / 3;
}

.bundles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 2rem;
}

/* Product Page | Specifications Section */

.specifications-container {
  grid-column: 1 / 3;
}

/* Product Page | Game Performance Section */

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
}

/* Media Queries */

/* Responsive Hero Image */

@media only screen and (max-width: 1280px) {
  .hero {
    background-image: url('/img/hero/hero-xl-1280.webp');
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    background-image: url('/img/hero/hero-lg-1024.webp');
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: url('/img/hero/hero-md-768.webp');
  }
}

@media only screen and (max-width: 640px) {
  .hero {
    background-image: url('/img/hero/hero-sm-640.webp');
  }
}

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .featured-item-container {
    grid-auto-flow: row;
  }

  .featured-image {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: auto;
    min-height: 100%;
    width: 100%;
    order: 0;
  }

  .store-slider article:hover .image-container {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .store-slider img {
    transition: 0;
  }

  .store-slider article:hover img {
    scale: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .contact-links-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .product-page-grid {
    grid-template-columns: 1fr;
  }

  .bundles-container {
    grid-column: 1;
  }

  .specifications-container {
    grid-column: 1;
  }

  .game-performance-container {
    grid-column: 1;
  }
}

/* Slick Override */

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  margin-inline: 1rem !important;
}

.slick-dots {
  position: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 1rem !important;
}

.slick-dots button::before {
  color: white !important;
}

.slick-slide > div {
  height: 100% !important;
}

@media only screen and (max-width: 768px) {
  .slick-list {
    margin-inline: -1rem !important;
  }

  .slick-arrow {
    z-index: 10;
  }
}
